.navbar {
    background-color: #444349 !important;
    border-bottom-width: 0 !important;
}


#side-menu {
    overflow-x: hidden;
    z-index: 2;
    height: 100vh !important;
    position: fixed ;
    background-color: rgb(231, 231, 231);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.288);
    transition: 0.5s;
}

/* Parametrs of Account photo in left side menu */
.block-100 {
    width: 150px;
    height: 150px;
}
li {
     color: black;
 }

.content-field{
    top: 50px;
    position: relative;
    height: 100vh;
}

.uArticle {
    margin-top: 20px;
}

.uArticle:hover{
    background-color: rgb(236, 236, 236);
}



.dark-hover{
    color: #353b48;
    transition: 0.1s;
}

.dark-hover:hover {
    background-color: #353b48;
    color: rgb(255, 255, 255);
}

#open-button {
    top: 60px; left: 5px;
    position: fixed;
    z-index: 1;
    width: 30px;
    height: 30px;
    background-color: #44434979
}

#close-button {
    z-index: 99;
    top: 60px; right: 10px;
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: #44434979;
}

.pArticle {
    margin-top: 20px;
    margin-right: 10px;
}

.pArticle:hover {
    background-color: rgb(248, 248, 248);
}

#content-field {
    background-color: rgb(253, 253, 253);
}

a, a:hover{
    color: black;
    text-decoration: none;
}

.margin-top {
    margin-top: 20px;
}

@media (max-device-width:  992px) {
    .w-0 {
        display: none;
    }

}
@media (min-device-width:  992px) {
    .w-1 {
        display: none;
    }

}



.navbar, .navbar-brand , .navbar-brand:hover, .grey  {
    background-color: #353b48 !important;
    color: white;
}

.slide-bar {
    width: 0px;
    height: 20px;
    color: rgba(0, 0, 0, 0);   
    transition: 0.5s;     
}

.card:hover .slide-bar {
    background-color: #0000003f;
    width: 80px;
    height: 20px;
    color: rgba(0, 0, 0, 0.801); 
    padding-bottom: 5px;
}

.slide-bar-item:hover {
    color: rgba(255, 255, 255, 0.692);
}

